<div class="hero_image"></div>

<section class="blurb">
	<div class="background">
		<div class="background_overlay">
			<div class="background_overlay_inner">

				<h1 class="background_overlay_header">WHITE DEVIL</h1>
			</div>
		</div>
	</div>
	<p>Your best experience ever!</p>
	<p>&mdash; Choose wisely &mdash;</p>
</section>

<div class="grid_container">
  <div class="grid_item women">
    <a href="#">women</a>
  </div>

  <div class="grid_item new_arrivals">
    <a href="#">new arrivals</a>
  </div>

  <div class="grid_item men">
    <a href="men">men</a>
  </div>

  <div class="grid_item sale">
    <a href="#">sale</a>
  </div>

  <div class="grid_item choice">
    <a href="#">our choice</a>
  </div>
</div>
