html {
  box-sizing: border-box;

}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  color: #262626;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.content_wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.screen-reader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
